@import 'anim.css';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* reset styles */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 ul,  li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, a:visited {
    color: #666;
}

a.a, a.a:visited {
    color: #B83F45;
    font-weight: bold;
}

html {
  height: 100%;
}

body {
  font-family: arial;
  font-size: .8em;  
  font-family: arial;
  color: #666;
  background-color: #fafafa;  
} 

.loading-overlay {
 display: none;
 position: absolute;
 z-index: 100;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background: rgba(255, 255, 255, .7) url('images/loading.gif') 50% 50% no-repeat;
 border: 1px solid #ddd;
}

@media screen and (max-width: 701px) {  
	body {
	  font-size: 1em;
	}
}

.itemlist {
 border-top: 1px solid #aaa;
 border-left: 1px solid #ddd;
 width: 100%;
 overflow: auto;
}

.itemlist ul {  
  margin: 0;
}

.itemlist li {
  display: block;
  font-size: 1em;
  padding: .8em;
  background-color: #fdfdfd;  
  border-bottom: 1px solid #ddd; 
}

.itemlist li:first-child a {   
}

.itemlist li:last-child a {
  border-bottom-width: 0;  
}

.itemlist a:hover {
  
}

.itemlist a {
  text-decoration: none;
  max-height: 999999px;
}

/* forms */
 form.a {
  padding: 0;
}

 form.a .controlHolder {
  padding: .5em 0;
}

 form.a .controlHolder label {
  display: inline-block;
  width: 8em;
  font-weight: bold;
}

 form.a .controlHolder input,
 form.a .controlHolder textarea {
  padding: .2em .3em;
  width: 15em;
  border: 1px solid #ccc;
  vertical-align: middle;
  font-size: 1em;
  font-family: arial;
}

/* btns */
.btns {
  margin: 0;
  padding: 1em 0;
}

.btns .btn {
  margin-right: .3em;
}

.btn, .btn:visited {
cursor: pointer;
color: white;
text-decoration: none;
font-weight: bold;
padding: .5em 1.5em;
border-radius: 5px;
border-width: 0;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, .6), 2px 2px 10px rgba(0, 0, 0, .8);
text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
background-color: #C00;
-background-clip: padding-box;
background-image: -moz-linear-gradient(top, #B83F45, #3E1517);
background-image: -webkit-linear-gradient(top, #edabab, #edabab 50%, rgba(59,0,0,.7) 51%, rgba(59,0,0,.7));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0000', EndColorStr='#990808')";
}

.menubtn {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background-image: url('images/menu-icon.png');
  background-size: 32px;
}



/*** layout ***/
#top-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto; 
  padding: 0; 
}

.flex-container {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}

.view {
  position: absolute; 
}

.view.hidden {
  display: none;
}


/* header */
#header {
  position: relative;
  padding: 1em 0;
  background-image: -webkit-linear-gradient(top, #fefefe, #ccc);
  border-bottom: 1px solid #bbb; 
}

#header h1 {
  text-align: center;
  margin: 0;  
  color: #B83F45;
}

@media screen and (max-width: 700px) {  
#header {
  padding: .5em 0;
}

#header h1{ 
  font-size: .9em;
  
}
}

/* menu */
#menu {
  padding: 1px 0;
  background-color: #ccc;		
}

#menu a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 1em .8em;
  border: 1px solid #777; 
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  -webkit-transition: all .5s;  
}


@media screen and (max-width: 700px) {  
#menu {
	padding: 0;
}	
	
#menu  li {
  display: block;
}

#menu a { 
  border: 1px solid #bbb;
  border-top: 1px solid #fff;  
}

#menu li:first-child a {
 border-top: 1px solid #bbb;
}
}

@media screen and (min-width: 701px) {  
  #menu {
    
  }
  
  #menu li {
  	display: block;
  	float: left;
  }
  
  #menu a { 
  	border: 1px solid #bbb;
  	margin-right: 1px;
  	
  }

  #menu li:last-child a {
    
  }
}

section h1 {
  margin: 0;
  padding: .5em 0;
  color: #B83F45;
  font-size: 1.2em;
}

.view .itemlist {
  -webkit-box-flex: 1;
}

.view.animated  .itemlist {
  overflow: hidden;
}

@media screen and (max-width: 700px) {  
  .active-sm {
    padding: 0 .3em; 
    background-color: #ddd;		
  }
}

@media screen and (min-width: 701px) {  

  .active-lg {   
    padding: 0 1.5em; 
    background-color: #ddd;		
  }

  .active-lg  .view {
    position: static !important;
    display: block;
    height: auto !important;
    overflow: auto !important;
    -webkit-animation-name: none !important;
  }
  
  .active-lg  .flex-container {
    display: -webkit-box;
  }
 
  #people-list {
    padding-bottom: 2em;
    min-height: 20em;
    max-height: 30em;
  }
  
  #people-details header, #people-more header {
    display: none;
  }
  
  #container-lg {
    position: static;
    -webkit-box-flex: 1;
  }
   
  #menu  {
    position: static !important;
    height: auto !important;
    display: block !important;
    -webkit-animation-name: none !important;
  }
  
  .btns {
    display: none;
  }
}

.itemlist a {
display: inline-block;
}

.itemlist a.edit {  
  width: 95%
}

.itemlist a.delete {
  width: 5%;
  text-align: right;
  cursor: pointer; 
}

.itemlist li.leave {
  box-shadow: 0 0 10px #B82010;
  -webkit-animation-name: bounceOut;
  -moz-animation-name: bounceOut;
  -ms-animation-name: bounceOut;
  -o-animation-name: bounceOut;
  animation-name: bounceOut;
  
  -webkit-animation-duration: 1s;	
  -moz-animation-duration: 1s;	
  -ms-animation-duration: 1s;	
  animation-duration: 1s; 
}









