@import 'anim.css';

html {
  height: 100%;
}


.stretchable {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.testmvc {
  font-family: arial;
  font-size: .8em;
  width: 70%;
  margin: 0 auto;
  font-family: arial;
  color: #666;
  background-color: #fafafa;
  padding: 0;
  height: 100%;
} 

@media screen and (max-width: 701px) {  
	.testmvc {
	  width: 100%;
	  font-size: 1em;
	}
}

.testmvc * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* reset styles */
.testmvc  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testmvc a, .testmvc a:visited {
    color: #666;
}

.testmvc a.a, .testmvc a.a:visited {
    color: #B83F45;
    font-weight: bold;
}

/* header */
.testmvc #header {
  width: 70%;
  padding: 1em 0;
  padding-bottom: 0;
}

.testmvc #header h1 {
  text-align: center;
  margin: 0;  
  color: #B83F45;
}

@media screen and (max-width: 700px) {  
.testmvc #header {
  padding: .5em 0;
  padding-bottom: 0;
}

.testmvc #header h1{ 
  font-size: .9em;
  
}
}

/* menu */
.testmvc #menu {
  margin-top: 4em;
  padding: .7em 0;
}

.testmvc #menu li {
  display: inline-block;
}

.testmvc #menu a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 1em .8em;
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(top, #fafafa, #eee);
  -webkit-transition: all .5s;
}

.testmvc #menu a:hover {  
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f0);
  box-shadow: 0 1px 3px #777;
  border: 1px solid #999;
}

#viewholder {
	-margin-top: 4em;
}

@media screen and (max-width: 701px) {  
.testmvc #menu  li {
  display: block;
}

.testmvc #menu  {
 
}

.testmvc #menu  a {
  margin-bottom: 1px;
}
}

.testmvc .itemlist {  
  margin: 0;
  border: 1px solid #ccc;
}

.testmvc .itemlist a {
  text-decoration: none;
  display: block;
  padding: .8em;
  background-color: #fdfdfd;  
  border-bottom: 1px dotted #ccc; 
}

.testmvc .itemlist li:first-child a {   
}

.testmvc .itemlist li:last-child a {
    border-bottom-width: 0;  
}

.testmvc .itemlist a:hover {
  background-color: #eee;
}

.testmvc .view.a .band {
  padding-top: 15px;
}

.testmvc .view.a .band:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #8D7D77;
  border-radius: 5px 5px 0 0;
}

/* section */
.testmvc section.a, .testmvc article.a {
  background-color: #fafafa; 
  border: 1px solid #eee;
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 0 1.5em; 
}

@media screen and (max-width: 700px) {  
.testmvc section.a, .testmvc article.a  { 
  padding: 0 .3em;
}
}

.testmvc section.a h1 {
  margin: 0;
  padding: .5em 0;
  color: #B83F45;
}


/* forms */
.testmvc  form.a {
  padding: 2em .5em;
}

.testmvc  form.a .controlHolder {
  padding: .5em 0;
}

.testmvc  form.a .controlHolder label {
  display: inline-block;
  width: 8em;
}

.testmvc  form.a .controlHolder input {
  padding: .2em .3em;
  width: 15em;
  border: 1px solid #ccc;
  font-size: 1em;
}

/* btns */
.testmvc .btns {
  margin: 0;
  padding: 1em 0;
}

.testmvc .btns .btn {
  margin-right: .3em;
}

.testmvc .btn, .testmvc .btn:visited {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 20px;
  border: 1px solid #3e1517;
  background-color: #c00;
  background-image: -moz-linear-gradient(top, #fff, #B83F45 4%, #3e1517);
  background-image: -webkit-linear-gradient(top, #fff, #B83F45 4%, #3e1517);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0000', EndColorStr='#990808')";
}



/* people */
@media screen and (min-width: 701px) {  
  .testmvc #peoplelistview, .testmvc #peopledetails {
    position: static !important;
    height: 50% !important;
    display: block !important;
    -webkit-animation-name: none !important;
  }
  
  .testmvc #people , .testmvc #task{
    height: 80% !important;
  }
  
  .testmvc #menu {
    position: static !important;
    height: auto !important;
    display: block !important;
    -webkit-animation-name: none !important;
  }
  
  .testmvc .btn {
    display: none;
  }

}

.testmvc .loading-overlay {
 display: none;
 position: absolute;
 z-index: 100;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background: rgba(255, 255, 255, .7) url('images/loading.gif') 50% 50% no-repeat;
 border: 1px solid #ddd;
}





