@import 'anim.css';

html {
  height: 100%;
}


.stretchable {
position: relative;
padding: 0;
margin: 0;
width: 100%;
overflow: auto;
overflow-x: hidden;
}

.testmvc {
  width: 70%;
  margin: 0 auto;
  font-family: arial;
  color: #666;
  background-color: #fafafa;
  padding: 0;
  height: 100%;
} 

@media screen and (max-width: 701px) {  

.testmvc {
  width: 98%;
}
}

.testmvc * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* reset styles */
.testmvc  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testmvc a, .testmvc a:visited {
    color: #666;
}

.testmvc a.a, .testmvc a.a:visited {
    color: #B83F45;
    font-weight: bold;
}

/* header */
.testmvc #header {
  padding: 1em 0;
  padding-bottom: 0;
}

.testmvc #header h1{
  text-align: center;
  margin: 0;  
  color: #B83F45;
}

@media screen and (max-width: 700px) {  
.testmvc #header {
  padding: .5em 0;
  padding-bottom: 0;
}

.testmvc #header h1{ 
  font-size: .9em;
  
}
}

/* menu */
.testmvc #menu {
  margin: .7em 0;
}

.testmvc #menu  li {
  display: inline-block;
}

.testmvc #menu  a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 1em .8em;
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(top, #fafafa, #eee);
  -webkit-transition: all .5s;
}

.testmvc #menu  a:hover {  
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f0);
  box-shadow: 0 1px 3px #777;
  border: 1px solid #999;
}

@media screen and (max-width: 701px) {  
.testmvc #menu  {
  margin: .2em 0;
}

.testmvc #menu  a {
  padding: .5em .5em;
  font-size: .8em;
}
}

.testmvc .itemlist {
  
}

.testmvc .itemlist {  
  margin: 1em 0;
  box-shadow: 0 0 20px #333;
   border-radius: 5px;
}

.testmvc .itemlist a {
  text-decoration: none;
  display: block;
  padding: .8em;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  border-top-width: 0;
 
}

.testmvc .itemlist li:first-child a {
     border-top: 1px solid #ccc;     
     border-radius: 5px 5px 0 0;
}

.testmvc .itemlist li:last-child a {
 border-radius: 0 0 5px 5px;
}

.testmvc .itemlist a:hover {
  background-color: #fff;
  box-shadow: 0 0 8px #888;
  z-index: 1;
  position:relative;
}

/* band */
.testmvc .band {
  height: 15px;
  background-color: #8D7D77;
  border-radius: 2px 2px 0 0;
}

/* section */
.testmvc section.a, .testmvc article.a {
  background-color: #fafafa;
  padding: .5em 1.5em;
  padding-bottom: 2em;
  border: 1px solid #ccc;
  border-top-width: 0;
}

@media screen and (max-width: 700px) {  
.testmvc section.a, .testmvc article.a { 
  padding: 1em .7em;
}
}

.testmvc section.a h1 {
  margin: .5em 0;
  color: #B83F45;
}


/* forms */
.testmvc  form.a {
  margin: 2em 1em;
}

.testmvc  form.a .controlHolder {
  margin: .5em 0;
}

.testmvc  form.a .controlHolder label {
  display: inline-block;
  width: 8em;
}

.testmvc  form.a .controlHolder input {
  padding: .2em .3em;
  width: 15em;
  border: 1px solid #ccc;
  font-size: 1em;
}

/* people */
@media screen and (min-width: 701px) {  
  .testmvc #peoplelistview, .testmvc #peopledetails {
    position: static !important;
    height: auto !important;
    visibility: visible !important;
  }

}





